@import "../fonts/fonts.css";

html,body{
    font-family: 'Open Sans',sans-serif;
    line-height: 1.4;
    color: #000;
    padding:0;
    margin:0;
}
h1,h2,h3{
    font-family: 'Open Sans Bold';
    font-weight: normal;
}
h4.h5,h6{
    font-family: 'Open Sans Semibold';
}
strong{
    font-family: 'Open Sans Bold';
    font-weight: normal;
}
b{
    font-family: 'Open Sans Semibold';
}
a{
    text-decoration: none;
}
button:focus,input:focus,textarea:focus{
    outline: none;
}
input,textarea,select{
    border-right:none ;
    border-top:none ;
    border-left:none ;
    border-bottom: 1px solid #6c6c6c;
    padding: 10px 5px;
    font-size: 12px;
    font-family: "Open Sans";
    color: #000;
}
button{
    height: 27px;
    min-width: 90px;
    font-family: "Open Sans Bold";
    font-size: 11px;
    text-align: center;
    text-transform: capitalize;
    background-color: #1f2d5c;
    border-color: #1f2d5c;
    color: #fff;
    border-radius: 7px;
}
input:focus,textarea:focus,select:focus{
    border-bottom: 1px solid #000;
    outline: none;
}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder,select::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #6a6a6a;
}
input::-moz-placeholder,textarea::-moz-placeholder,select::-moz-placeholder {
  color: #6a6a6a;
}
input:-ms-input-placeholder,textarea:-ms-input-placeholder,select:-ms-input-placeholder { /* IE 10+ */
  color: #6a6a6a;
}
/***********
Header style
************/

.header-main{
    background-color: #1f2d5c;
    width: 100%;
    float: left;
    margin-top: 1em;
}
.header-main .rightNav a{
    color: #fff;
    padding: 15px 20px;
    display: block;
    font-family: "Open Sans Bold"
}
.header-main .rightNav a:hover{text-decoration: none}
.header-main .leftNav{float: left;}
.header-main .leftNav ul{display: table; list-style: none; padding: 0; margin: 0}
.header-main .leftNav ul li{float: left}
.header-main .leftNav ul li.active a{color: #fff; font-family: "Open Sans Bold"}
.header-main .leftNav ul li a{color: #fff;   border-right: 1px solid #c0c0c0;  padding: 15px 20px;
    display: block;
    font-size: 15px;
}
.header-main .leftNav ul li a:hover{color: #fff; text-decoration: none}
.header-main .rightNav{float: right;}
.fieldWithLabel input,.fieldWithLabel select {
    border: 1px solid #6c6c6c;
    margin-top: 5px !important;
}
.fieldWithLabel label{
    color: #6a6a6a;
    font-family: "Open Sans Light";
    font-weight: normal;
}
.Cell>* {
    display: table-cell;
    width: auto;
}

.Cell {
    display: table;
    width:100%;
}
.dropdownContainer {
    margin-bottom: 2em;
}
.fieldWithLabel.Cell select {
    min-width: 150px;
}
/************
Middle Content
**********/

.heading-main{margin: 25px 0}
.heading-main .addIcon{float: right ;}
.heading-main .addIcon i img{vertical-align: middle; margin-right: 5px}
.heading-main span.addIcon {font-size: 13px; cursor: pointer}
.main-table > table > {border: 1px solid #d5d5d5}
.main-table > table > thead {
    background: #1f2d5c;
    color: #fff;
}
.main-table > table > thead > th{
    border-right:1px solid #d5d5d5 ;
    padding: 15px;
}
.main-table > table > tr > td{
    padding: 15px;
    font-size: 14px;
    color: #8a8686;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th{border: none}

.main-table > .table > tbody > tr:nth-child(odd){background-color: #f6f8ff}

.modal-small .modal-dialog {
    width: 350px;
    margin: 30px auto;

}
.modal-small .modal-dialog .modal-content{border-radius: 0;border: 1px solid #d5d5d5;}
.modal-small .modal-dialog .modal-content .modal-body{padding: 0 25px}
.modal-small .modal-dialog .modal-content .modal-body input,.modal-small .modal-dialog .modal-content .modal-body select{display: block;margin: 15px 0; width: 100%}

.modal-small .modal-dialog .modal-content .modal-header{padding: 0; border: none; text-align: center}
.modal-small .modal-dialog .modal-content .modal-footer{ border: none; text-align: center; background-color: #fff;padding-bottom: 30px;}
.modal-small .modal-dialog .modal-content .modal-header h2 {
    padding-top: 30px;
}
.closeFixed{
    position: absolute;
    top: 0;
    right: 4px;
    font-size: 30px;
    line-height: 25px;
    cursor: pointer;
}

.dayEndSec{display: table;width: 100%;}
.dayEndSec > div{display: table-cell;float: none;vertical-align: top;}

.dayEndSec fieldset .form-horizontal .control-label{float: none;display: table-cell;padding: 0 8px;white-space: nowrap;padding-bottom: 10px;font-weight: normal;}
.dayEndSec fieldset .form-horizontal .control-label+div{float: none;display: table-cell;padding: 0 8px;padding-bottom: 10px;}
.dayEndSec fieldset .form-horizontal .form-group{display: table-row;}
.dayEndSec fieldset .form-horizontal {display: table;}
.dayEndSec fieldset .form-horizontal .form-control{min-width: 170px;}

.dayEndSec fieldset{padding-top: 0;margin-bottom: 20px;padding-bottom: 0}
.dayEndSec fieldset legend{font-weight: 700;}

.dayEndTableScrollSec{max-height: 275px;overflow: auto;margin-bottom: 20px; }
.dayEndTableScrollSec .table{margin-bottom: 0;}


.tableLedger tbody tr td p span{display: block;padding-top: 20px;}


.ledgerReportHeaderSec img{width: 100%;max-width: 213px;margin-top: 10px;}

.ledgerReportUserInfo p{color: #616161;font-size: 22px;margin: 10px 0;}
.ledgerReportDateSec p{color: #616161;font-size: 14px;margin: 10px 0;}

.ledgerReportHeaderFilterSec{background: #292e5a;padding: 0 15px;}
.ledgerReportHeaderFilterSec h3{font-size: 30px;font-weight: bold;margin: 0;color: #fff;line-height: 47px;display: inline-block}

.ledgerReportHeaderFilterBlockSp{float: right;}
.ledgerReportHeaderFilterBlock{float: left;padding: 13px 0;}
.ledgerReportHeaderFilterBlock label{font-weight: normal;font-size: 14px;color: #fff;margin-right: 10px;float: left;margin-left: 15px;}
.ledgerReportHeaderFilterBlock .form-control{    height: 20px;
    border-radius: 8px;
    float: left;
    width: 120px;
    font-size: 11px;
    padding: 0 5px;}

.ledgerReportHalfSec{width: 50%;float: left;}
.pdfLinkSec{width: 100%;float: left;margin: 7px 0}
.pdfLinkSec a{float: right;font-size: 12px;color: #8f8f8f;text-decoration: underline;}
.pdfLinkSec a i{display: inline-block;vertical-align: middle;margin-right: 5px;}
.pagiSec{float: right;margin: 11px 0 0 0;}
.pagiSec > a{float: left;margin: 0 5px;color: #000;font-family: "Helvetica Neue";line-height: 19px;}
.pagiSec ul{float: left;list-style-type: none;padding: 0;margin: 0;}
.pagiSec ul li{float: left;list-style-type: none;padding: 0;margin: 0 5px;line-height: 19px;}
.pagiSec ul li a{float: left;font-size: 14px;color: #8f8f8f;font-family: "Helvetica Neue";line-height: 19px;}
.pagiSec ul li a.active{color: #000;}
.ledgerReportHalfSec .ledgerReportUserInfo p{margin-top: 0;}