      body {
            font-family: "Open Sans";
        }

        table.mainTable {
            width: 100%;
            max-width: 800px;
            margin: 0 auto;
        }

        .tableHeaderSec thead td {
            vertical-align: top
        }

        .tableHeaderSec thead h4 {
            margin: 0;
            padding: 0;
            display: block;
        }

        .tableHeaderSec thead h4 span {
            margin: 0;
            padding: 5px 0;
            display: block;
            font-weight: normal;
            font-size: 14px;
        }

        .tableHeaderSec thead .logoArea {
            margin-top: 10px;
        }

        .tableHeaderSec thead .logoArea img {
            max-width: 100%;
        }

        .deliveryArea {
            text-align: right;
        }

        .deliveryArea h4 {
            color: #004269;
            margin-bottom: 15px;
        }

        .deliveryArea table {
            float: right;
            border-spacing: 0;
        }

        .deliveryArea table td {
            font-size: 13px;
        }

        .deliveryArea table td:first-child {
            text-align: right;
            padding-right: 15px;
        }

        .deliveryArea table td:last-child {
            border: 1px solid #ddd;
            padding: 2px 10px;
            text-align: left
        }

        .orderDetailArea {
            border-spacing: 0
        }

        .orderDetailArea > td {
            padding-top: 15px;
        }

        .orderDetailArea h6 {
            margin: 0;
            padding: 0;
            display: block;
            background: #004269;
            padding: 5px 10px;
            color: #fff;
            font-size: 13px;
        }

        .orderDetailArea table {
            width: 100%;
            border-spacing: 0
        }

        .orderDetailArea table td {
            font-size: 13px;
            padding: 3px 10px;
            border: 1px solid #004269;
            border-top: 0
        }

        table.mainTable.productDescTableSec {
            margin-top: 15px;
            border-spacing: 0
        }

        .productDescTableSec th {
            background: #004269;
            padding: 5px 10px;
            color: #fff;
            font-size: 13px;
            text-align: left
        }

        .productDescTableSec tr:nth-child(even) {
            background: #ececec;
        }

        .productDescTableSec tr td {
            padding: 5px 10px;
            font-size: 12px;
            border: 1px solid #004269;
            border-top: 0;
            border-right: 0;
        }

        .productDescTableSec tr td:last-child {
            border-right: 1px solid #004269;
        }

        .productDescTableSec tr.tfoot td:first-child {
            border-bottom: 0;
            border-left: 0;
            background: #fff;
        }

        .productDescTableSec tr.tfoot td:nth-child(2) {
            text-transform: uppercase
        }

        .footerDetailSec {
            font-size: 13px;
            text-align: center;
        }

        .footerDetailSec p {
            margin: 1px 0;
        }

        .footerDetailSec h2 {
            margin: 15px 0 0 0;
        }

        .mainTable.subTotalTableSec {
            width: 340px;
            float: right;
            border-spacing: 0;
        }

        .mainTable.subTotalTableSec td {
            padding: 5px 10px;
            font-size: 12px;
            border: 1px solid #004269;
            border-top: 0;
            border-right: 0;
        }

        .mainTable.subTotalTableSec td:last-child {
            border-right: 1px solid #004269;
        }

        .mainTable.subTotalTableSec tr:nth-child(even) {
            background: #ececec;
        }

        @media print {
            body {
                -webkit-print-color-adjust: exact !important;
            }
        }