@import "../fonts/fonts.css";

.sorting, .sorting_desc {
    background-color: #1f2d5c;
    color: white;
}

.odd {
    background-color: rgba(31, 45, 92, 0.12) !important;

}

.odd > td, .even > td {
    border: 1px solid #d5d5d5 !important;
}

.even {
    background-color: transparent !important;
    border: 1px solid #d5d5d5 !important;
}

html, body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4;
    color: #000;
    padding: 0;
    margin: 0;
}

h1, h2, h3 {
    font-family: 'Open Sans Bold';
    font-weight: normal;
}

h4.h5, h6 {
    font-family: 'Open Sans Semibold';
}

strong {
    font-family: 'Open Sans Bold';
    font-weight: normal;
}

b {
    font-family: 'Open Sans Semibold';
}

a {
    text-decoration: none;
}

button:focus, input:focus, textarea:focus {
    outline: none;
}

label {
    font-family: "Open Sans";
    font-weight: normal;
}

input, textarea, select {
    border-right: none;
    border-top: none;
    border-left: none;
    border-bottom: 1px solid #b1b1b1;
    padding: 5px;
    font-size: 12px;
    font-family: "Open Sans";
    color: #b1b1b1;
}

button {
    height: 27px;
    min-width: 90px;
    font-family: "Open Sans Bold";
    font-size: 11px;
    text-align: center;
    text-transform: capitalize;
    background-color: #161616;
    border-color: #161616;
    color: #fff;
    border-radius: 7px;
}

input:focus, textarea:focus, select:focus {
    border-bottom: 1px solid #000;
    outline: none;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #6a6a6a;
}

input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
    color: #6a6a6a;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder, select:-ms-input-placeholder { /* IE 10+ */
    color: #6a6a6a;
}

/***********
Header style
************/

.header-main {
    background-color: #1f2d5c;
    width: 100%;
    float: left;
    margin-top: 1em;
}

.header-main .rightNav a {
    color: #fff;
    padding: 15px 20px;
    display: block;
    font-family: "Open Sans Bold"
}

.header-main .rightNav a:hover {
    text-decoration: none
}

.header-main .leftNav {
    float: left;
}

.header-main .leftNav > nav > ul {
    display: table;
    list-style: none;
    padding: 0;
    margin: 0
}

.header-main .leftNav > nav > ul > li {
    float: left
}

.header-main .leftNav > nav > ul > li.active > a {
    color: #fff;
    font-family: "Open Sans Bold"
}

.header-main .leftNav > nav > ul > li > a {
    color: #fff;
    border-right: 1px solid #c0c0c0;
    padding: 15px 20px;
    display: block;
    font-size: 15px;
}

.header-main .leftNav > nav > ul > li .dropdown-menu {
    background-color: #1f2d5c;
}

.header-main .leftNav > nav > ul > li > a:hover {
    color: #fff;
    text-decoration: none
}

.header-main .rightNav {
    float: right;
}

.fieldWithLabel input, .fieldWithLabel select {
    border: 1px solid #6c6c6c;
    margin-top: 5px !important;
}

.fieldWithLabel label {
    color: #6a6a6a;
    font-family: "Open Sans Light";
    font-weight: normal;
}

.Cell > * {
    display: table-cell;
    width: auto;
}

.Cell.vBottom {
    margin-bottom: 1em
}

.Cell.vBottom > * {
    vertical-align: bottom
}

.Cell {
    display: table;
    width: 100%;
}

.dropdownContainer {
    margin-bottom: 2em;
}

.fieldWithLabel.Cell select {
    min-width: 150px;
}

/************
Middle Content
**********/

.heading-main {
    margin: 25px 0;
    font-size: 24px;
    font-weight: normal
}

.heading-main .addIcon {
    float: right;
}

.heading-main .addIcon i img {
    vertical-align: middle;
    margin-right: 5px
}

.heading-main span.addIcon {
    font-size: 13px;
    cursor: pointer
}

.main-table table {
    width: 100%
}

.main-table > table {
    border: 1px solid #d5d5d5
}

.main-table > table > thead {
    background: #1f2d5c;
    color: #fff;
}

.main-table > table > thead > th {
    border-right: 1px solid #d5d5d5;
    padding: 15px;
}

.main-table > table > tr > td {
    padding: 15px;
    font-size: 14px;
    color: #8a8686;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th {
    border: none
}

.main-table > .table > tbody > tr:nth-child(odd) {
    background-color: rgba(31, 45, 92, 0.12)
}

.main-table > .table.trialreport > tbody > tr:nth-child(odd) {
    background-color: transparent
}

.modal-small .modal-dialog {
    width: 350px;
    margin: 30px auto;

}

.modal-small .modal-dialog .modal-content {
    border-radius: 0;
    border: 1px solid #d5d5d5;
    color: white
}

.modal-small .modal-dialog .modal-content .modal-body {
    padding: 0 25px
}

.modal-small .modal-dialog .modal-content .modal-body input, .modal-small .modal-dialog .modal-content .modal-body select {
    display: block;
    margin: 15px 0;
    width: 100%
}

.modal-small .modal-dialog .modal-content .modal-header {
    padding: 0;
    border: none;
    text-align: center
}

.modal-small .modal-dialog .modal-content .modal-footer {
    border: none;
    text-align: center;
    background-color: #fff;
    padding-bottom: 30px;
}

.modal-small .modal-dialog .modal-content .modal-header h2 {
    padding-top: 30px;
}

.closeFixed {
    position: absolute;
    top: 0;
    right: 4px;
    font-size: 30px;
    line-height: 25px;
    cursor: pointer;
}

.dropdown-menu > li > a {
    color: #fff
}

.tableStyle {
    display: table;
    width: 100%;
    border-top: 1px solid #d5d5d5;
    border-left: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
    padding: 10px 15px;
}

.tableStyle .table-cell-style {
    display: table-cell;
}

.tableStyle .table-cell-style:first-child {
    width: 370px;
}

.modal-bg-o .modal-dialog {
    width: 750px
}

.modal-bg-o .modal-dialog .modal-content .modal-header h2 {
    margin-bottom: 35px
}

.inputContainer input, .inputContainer select {
    width: 100%;
    margin-bottom: 1.5em;
    font-size: 14px;
    padding-left: 0;
}

.heading-light {
    font-size: 30px;
    font-weight: normal;
    font-family: "Open Sans";
    color: #000;
    text-transform: capitalize;
    margin-bottom: 25px
}

.chartAcc {
    margin-top: 60px
}

.inputContainer {
    max-width: 480px
}

.Viewhierarchy {
    background: #1f2d5c;
    padding: 30px;
    width: 100%;
    color: #fff;
    float: right;
    max-height: 450px;
    overflow: auto;
}

.Viewhierarchy > ul {
    list-style: decimal;
}

.btnSmall {
    min-width: auto;
    height: 19px
}

.red {
    background: #d24d48 !important;
    border: #d24d48
}

.main-table > table > tbody > tr > td {
    border: 1px solid #d5d5d5 !important;
}

.main-table > table > tfoot > tr > td {
    border: 1px solid #d5d5d5 !important;
}

/*Dashboard*/
.box-square {
    height: 135px;
    width: auto;
    display: table;
    text-align: center;
    float: left;

}

.logoDash-container {
    margin: 3em 0
}

.padding-close-container {
    margin: 0 -2px;
}

.padding-close-container > div {
    padding: 0 2px;
    width: auto;
}

.box-square > .box-square-content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background-color: #000;
    color: #fff
}

.box-square-content {
    width: 130px;
}

.container-dash {
    width: 800px;
    margin: 0 auto;
}

.padding-close-container {
    margin-bottom: 3em;
    display: inline-block;
}

.m_row {
    margin: 0 -16px 3em;
    display: inline-block;
}

.m_row .box-square {
    padding: 0px 18px;
    margin-bottom: 5px;

}

.box-square > .box-square-content img {
    display: block;
    margin: 0 auto;
    padding-bottom: 15px;
}

.box-square > .box-square-content a {
    color: #fff;
    text-decoration: none
}

.lightB {
    background-color: #73d1e4 !important;
}

.Dgrey {
    background-color: #616f7f !important;
}

.pGreen {
    background-color: #c1d015 !important;
}

.red {
    background-color: #ea4c1f !important;
}

.mergenda {
    background-color: #803695 !important;
}

.orange {
    background-color: #f5b402 !important;
}

.formSaleVoucher .form-control {
    background: #fff;
    width: 220px;
}

.formSaleVoucher.formWidthDef .form-control {
    background: #fff;
    width: 100%
}

.form-Row {
    margin-bottom: 10px;
}

.customerInfoSec {
    padding: 0 15px 0 30px;
    float: left;
    margin-left: 15px;
}

.customerInfoSec h5 {
    font-weight: bold;
    font-size: 16px;
    margin-top: 0
}

.customerInfoSec p {
    margin-bottom: 10px;
}

.table.saleVoucherTable {
    border-spacing: 0;
    border-top: 1px solid #ccc;
}

.table.saleVoucherTable th {
    border-right: 1px solid #ccc;
    background: #333;
    color: #fff;
}

.table.saleVoucherTable td {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.table.saleVoucherTable {
    border-left: 1px solid #ccc;
}

.tableScroll {
    overflow: auto;
    max-height: 400px;
    margin-bottom: 15px;
}

.totalBillSec {
    float: left
}

.totalBillSec p {
    font-size: 26px;
    font-weight: bold
}

.btn.btn-custom {
    background: #1f2d5c;
}

::-webkit-input-placeholder {
    color: #000;
}

input, textarea, select {
    color: #000
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #000;
}

input::-moz-placeholder { /* Firefox 19+ */
    color: #000;
}

input:-ms-input-placeholder { /* IE 10+ */
    color: #000;
}

input:-moz-placeholder { /* Firefox 18- */
    color: #000;
}

select::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #000;
}

select::-moz-placeholder { /* Firefox 19+ */
    color: #000;
}

select:-ms-input-placeholder { /* IE 10+ */
    color: #000;
}

select:-moz-placeholder { /* Firefox 18- */
    color: #000;
}
